<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="/home">QueryNest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i></a>
                <a class="nav-link" href="/newPost"><i class="fa-solid fa-pen-to-square"></i></a>
              
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
               <% if(!currUser){%>
                <a class="nav-link" href="/signup"><b>Sign Up</b></a>
                <a class="nav-link" href="/login"><b>Login</b></a><%}%>
                <%if(currUser){%>
                <a class="nav-link" href="/logout"><b>Logout</b></a>
                <%}%>
            </div>
        </div>
    </div>
</nav>
